#container{
    display: flex;
    flex-direction: row;
}
.innerBox {
    border: 1px solid grey;
    border-radius: 3px;
    padding: 10px;
    min-height: 400px;
    margin: 5px;
    display: flex;
    flex-direction: column;
}
#controls {
    flex-basis: 200px;
}
.overlay{
    display: none;
}
.magnetBox{
    border: 1px solid grey;
    flex-basis: 30px;
    margin: 2px;
    display: flex;
}
.magnetBox label {
    margin: 2px 5px;
    flex: 0 0 20px;
}
.magnetBox input {
    flex: 1 0;
}
.magnetBox button {
    flex: 0 0 20px;
    margin: 2px 5px;
    cursor: pointer;
}
#viewAbove, #viewSide, #controls {
    flex-grow: 0;
    flex-shrink: 0;
}
canvas {
    border: 1px solid;
    width: 400px;
    height: 400px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}
h2, h3{
    margin: 3px 0 8px 0;
    font-size: 16px;
    font-family: sans-serif;
}
h3 {
    font-size: 12px;
}
#presetList a {
    text-decoration: underline;
    cursor: pointer;
    color: blue;
    display: block;
}