#container{
    display: flex;
    flex-direction: row;
}
.innerBox {
    border: 1px solid grey;
    border-radius: 3px;
    padding: 5px;
    min-height: 400px;
    margin: 5px;
    display: flex;
    flex-direction: column;
}
#controls {
    flex-basis: 200px;
}
.controlBox{
    border: 1px solid grey;
    flex-basis: 30px;
    margin: 2px;
}
#viewAbove, #viewSide, #controls {
    flex-grow: 0;
    flex-shrink: 0;
}
canvas {
    border: 1px solid red;
    width: 400px;
    height: 400px;
}
h2{
    margin: 5px 0;
    font-size: 16px;
    font-family: sans-serif;
}